@model AllToursQueryViewModel
@using TouristTourGuide.Services.Interfaces;
@inject IImageService imgService
@{
    ViewBag.Title = "All Tours";
}
@{
    var imageForParallax = imgService.GetImageBytesMongoDb("bloonimage");
    var base64img = "data:image/jpg;base64," + Convert.ToBase64String(imageForParallax);
}
<head>
    <link rel="stylesheet" href="~/css//btnStyles.css"/>
    <style>
        .partialRow{
            position:relative;                  
            overflow: hidden;
            color: #333;
            display:flex;
        }

        .partialRow::before{
                content: '';
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 400" fill="none" xmlns:xlink="http://www.w3.org/1999/xlink"><path d="M0 200 C300 100 600 300 900 200 S1440 100 1440 200" stroke="%23ccc" stroke-width="2" fill="none"/><circle cx="900" cy="200" r="6" fill="%23FF6347"/><circle cx="1200" cy="150" r="6" fill="%23FF6347"/><circle cx="500" cy="300" r="6" fill="%23FF6347"/></svg>') no-repeat center/cover;
                z-index: 1;
                opacity: 0.8;

        }

        .partialRow::after{
                content: '';
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background: rgba(255, 255, 255, 0.2); /* Прозрачен слой за по мек вид */
                z-index: 1;

        
        }

        .title-section {
            height: 200px;
            background-size: cover;
            background-repeat: no-repeat;
          /*   background-attachment: fixed; */
            display: flex;
             justify-content: center;
            align-items: center;
           /*  padding: 0 20px;  *//* Оставя място от двете страни */
            position: relative;
        }

            .title-section h2 {
                font-size: 2rem;
                color: #000;
                 margin: 0; 
            }

        .lottie-container {
            width: 450px; /* Увеличава ширината на анимацията */
            height: 450px; /* Увеличава височината на анимацията */
            position: absolute;
            right: 15em; /* Поставя анимацията вдясно 20px */
            
            top: 50%; /* Центрира анимацията вертикално */
            transform: translateY(-30%); /* Центрира на базата на височината */
            z-index:-1;
            
        }
        @@media(max-width:1068px)
        {
            .lottie-container {
                right:20px;
            }
        }
    </style>
  
</head>

<section class="title-section parallax">
    <h2 class="text-center text-black" >@ViewBag.Title</h2>
    <div class="lottie-container">
        <div id="globusAnimation"></div>
    </div>
</section>

<form method="get" style="margin:2em">
    <div class="row">
        <div class="form-group col-md-2  d-flex justify-content-between">
            <div class="form-group">
                <label asp-for="Category"></label>
                <select asp-for="Category" class="form-control">
                    <option value="">All</option>
                    @foreach (var category in Model.Categories)
                    {
                        <option value="@category">@category</option>
                    }
                </select>
            </div>
        </div>
        <div class="form-group col-md-3">
            <label asp-for="SerchByString"></label>
            <input asp-for="SerchByString" class="form-control" placeholder="...">
        </div>
        <div class="form-group col-md-3">
            <div class="form-group">
                <label asp-for="TourSorting"></label>
                <select asp-for="TourSorting" class="form-control">
                    <option value="0">Newest</option>
                    <option value="1">Oldest</option>
                    <option value="2">PriceAscending</option>
                    <option value="3">PriceDescending</option>

                </select>
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group mt-4">
                @* mt-4 p-2 *@
                <input type="submit" value="Search" class="btn btn-search"/>
            </div>
        </div>
    </div>
</form>
@{
    var previousPage = Model.CurrentPage - 1;
    if (previousPage < 1)
    {
        previousPage = 1;
    }
     // var maxPage = Math.Ceiling((double)Model.TourPerPage / Model.TourPerPage);
     var maxPage = (int)Math.Ceiling((double)Model.TourTotal / Model.TourPerPage);
}

<div class="row mb-5" style="margin-bottom:1em;">
    <div class="col-md-6 d-grid gap-2 d-md-flex justify-content-md-start">
        <a class="btn btn @(Model.CurrentPage == 1 ? "disabled" :
            string.Empty)"
            asp-controller="TouristTour"
           asp-action="All"
           asp-route-currentPage="@previousPage"
           asp-route-category="@Model.Category"
           asp-route-searchTerm="@Model.SerchByString"
           asp-route-sorting="@((int)Model.TourSorting)" style="background-color:#FFD557"><<
        </a>
    </div>
    @{
        var shouldButtonBeDisabled = Model.CurrentPage == maxPage ||
        !Model.Tours.Any();
    }
    <div class="col-md-6 d-grid gap-2 d-md-flex justify-content-md-end">
        <a class="btn btn
            @(shouldButtonBeDisabled ? "disabled" : string.Empty)"
            asp-controller="TouristTour"
           asp-action="All"
           asp-route-currentPage="@(Model.CurrentPage + 1)"
           asp-route-category="@Model.Category"
           asp-route-searchTerm="@Model.SerchByString"
           asp-route-sorting="@((int)Model.TourSorting)" style="background-color:#FFD557">>></a>
    </div>
</div>
@if (!Model.Tours.Any())
{
    <h2 class="text-center">No tours found by the given criteria!</h2>
}

<div class="row partialRow" style="margin: auto 1em;">

    @foreach (var tour in Model.Tours)
    {
        <partial name="_TourAllPartial" model="@tour"/>   
    }

</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/bodymovin/5.10.1/lottie.min.js"></script>
<script>
    // Проверка дали Lottie е зареден
    document.addEventListener("DOMContentLoaded", function () {
        const lottieGlobus = document.getElementById('globusAnimation'); // Взимаме контейнера
        lottie.loadAnimation({
            container: lottieGlobus, // Контейнер за анимацията
            renderer: 'svg', // Рендер тип SVG
            loop: false, // Цикличност
            autoplay: true, // Автоматично стартиране
            path: 'https://lottie.host/7a73911d-51fc-4df8-8024-531b9f73e9b6/lCboKmlKky.json' // Линк към JSON анимация
        });
    });
</script>

