@model List<AcceptOrRefuseViewModel>
@*dobaveno na 4/25/2024*@

@if (@Model.Count >= 1)
{
    @foreach (var item in Model)
    {
        <div class="col-md-4">
            <div class="card mb-3">
                @*  @if ((@Model.TourImage != null))
        {

        <img src="@("data:image/jpeg;base64," + Convert.ToBase64String(imageService.GetImageBytesMongoDb(Model.TourImage.UniqueFileName)))"
        alt="" class="img-fluid">

        } *@
                <div class="card-body text-center">
                    <h4>@item.TourName</h4>

                    <h6>Count of bookings <b></b></h6>
                    <h6>
                        Rating:
                        <b></b>
                    </h6>


                    <a asp-controller="TouristTour" asp-action="TourBokings" asp-route-id="@item.TourId"
                       class="btn btn-warning">See query table</a>

                    @*  <a asp-controller="TouristTour" asp-action="Delete" asp-routeid="@Model.Id"
            class="btn btn-danger">Delete</a> *@


                </div>
            </div>
        </div>
    }


}

