@model AllViewModel
@using TouristTourGuide.Services.Interfaces
@using TouristTourGuide.Infrastrucutre;
@inject IGuideUserService ugs;
@inject ITourService tourService;
@inject IImageService imageService;

@{
    bool isCurrentUserOwner = false;


    bool userIsGuide = ugs.isUserGuide(this.User.GetCurrentUserId());

    
    if (userIsGuide)
    {
        string guideId = ugs.GuidUserId(this.User.GetCurrentUserId());

        isCurrentUserOwner = await tourService.IsTourOwner(guideId, Model.Id);

        
    }

   


}


<div class="col-md-4">
    <div class="card mb-3">
        @if ((@Model.TourImage != null))
        {

            <img src="@("data:image/jpeg;base64," + Convert.ToBase64String(imageService.GetImageBytesMongoDb(Model.TourImage.UniqueFileName)))"
                     alt="" class="img-fluid">
            
        }
        <div class="card-body text-center">
            <h4>@Model.Title</h4>

            <h6>Location: <b>@Model.Location</b></h6>
            <h6>
                Price Per Person:
                <b>@String.Format("{0:f2}", Model.PricePerPerson) BGN</b>
            </h6>

            <br />
            <a asp-controller="TouristTour" asp-action="Details" asp-route-id="@Model.Id"
               class="btn btn-success">Details</a>
            @*  @if (this.User.Identity.IsAuthenticated) *@

            @if (userIsGuide)
            {
                @if (isCurrentUserOwner)
                {
                    <a asp-controller="TouristTour" asp-action="Edit" asp-route-id="@Model.Id"
                       class="btn btn-warning">Edit</a>

                    <a asp-controller="TouristTour" asp-action="Delete" asp-routeid="@Model.Id"
                       class="btn btn-danger">Delete</a>

                }

            }

            <p></p>

        </div>
    </div>
</div>